<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h2 {
            text-align: center;
        }
        .container {
            margin: 50px;
            padding: 20px;
            background-color: skyblue;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class='container'>
        <h2>Dojo User Show</h2>
        <p><b>Name: </b>{{user.first_name}} {{user.last_name}}</p>
        <p><b>Email: </b>{{user.email_address}}</p>
        <p><b>Age: </b>{{user.age}}</p>
        <p>
            <a href="/users">Go back</a>   |   
            <a href="/users/{{user.id}}/edit">Edit</a>  |   
            <a href="/users/{{user.id}}/destroy">Delete</a>
        </p>
    </div>
</body>
</html>