@using Microsoft.AspNetCore.Http

<div class="row">
    <div class="col-6">
        @Html.Partial("Forms/Register")
    </div>
    <div class="col-6">
        @Html.Partial("Forms/Login")
    </div>
</div>