<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Emails</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container {
            margin: 50px;
            padding: 20px;
            background-color: skyblue;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Email</h1>
        <div class="alert alert-success">
            The email address you entered <b>{{ request.form['email'] }}</b> is a VALID email address! Thank you!
        </div>
        <h2>Email Addresses Entered</h2>
            {% if emails %}
            <table>
                <tr>
                    <th>Email Address</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
                {% for email in emails %}
                <tr>
                    <td>{{email.emails}}</td>
                    <td>{{email.created_at}}</td>
                    <td><form action="/delete" method="post">
                        <input type="hidden" name="id" value="{{email.id}}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        <a class='btn btn-danger'href='/'>Go Back</a>
    </div>
</body>
</html>