<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Validation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h2 {
            text-align: center;
        }
        .container {
            margin: 50px;
            padding: 20px;
            background-color: skyblue;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Email Validator</h2>
        <div class="register-form">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{message}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/submit" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" value='' placeholder="Email">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        <h2>Email Addresses Entered</h2>
            {% if emails %}
            <table>
                <tr>
                    <th>Email Address</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
                {% for email in emails %}
                <tr>
                    <td>{{email.emails}}</td>
                    <td>{{email.created_at}}</td>
                    <td><form action="/delete" method="post">
                        <input type="hidden" name="id" value="{{email.id}}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
    </div>
</body>
</html>