<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container {
            margin: 50px 100px;
            padding: 20px;
            background-color: lightseagreen;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class="survey-form">
        <form action="/result" method="post">
            <div class="form-group">
                <label for="name">Your Name</label>
                <input name="_name" type="name" class="form-control" value='' placeholder="Name">
            </div>
            <div class="form-group">
                <label for="name">Your E-mail</label>
                <input name="_email" type="email" class="form-control" value='' placeholder="E-mail">
            </div>
            <div class="form-group">
                <label for="_dojo">Dojo Location</label>
                <select name="_dojo" class="form-control" value=''>
                    <option>San Jose</option>
                    <option>Seattle</option>
                    <option>Silicon Valley</option>
                    <option>Tulsa</option>
                    <option>Dallas</option>
                </select>
            </div>
            <div class="form-group">
                <label for="_language">Favorite Language</label>
                <select name="_language" class="form-control" value=''>
                    <option>Python</option>
                    <option>Javascript</option>
                    <option>PHP</option>
                    <option>HTML</option>
                    <option>C#</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comments">Comments</label>
                <small class="form-text text-muted">A comment is required</small>
                <textarea name="_comments" class="form-control" value='' rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</body>
