<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    h1 {
        text-align: center;
        padding: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="nav navbar-nav mx-auto">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a> 
            <a class="nav-item nav-link" href="/projects">Projects</a> 
            <a class="nav-item nav-link" href="/contact">Contact</a>
        </div>
    </nav>
    <div class="container">
        <h1>About Me</h1>
        <div class="row">
            <div class="col-6">
                <p>Image Box</p>
                <h4>Name</h4>
                <p>Things liked</p>                
            </div>
            <div class="col-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod nulla nec rhoncus rhoncus. Etiam felis eros, sodales a condimentum ut, finibus vel purus. Mauris tristique urna eget dui rutrum congue. Integer ac tortor a diam condimentum ornare. Nunc feugiat metus magna, vel iaculis purus commodo vel. Maecenas enim augue, semper eu nulla in, vulputate tempor nulla. Ut cursus ac quam non convallis. Nulla tincidunt risus varius elit porta, nec fermentum elit laoreet. Fusce scelerisque accumsan tellus in tempus. Vivamus dapibus vulputate lectus, quis mattis turpis aliquam sed. Ut consequat pellentesque magna, quis euismod elit feugiat quis. Maecenas nisi arcu, gravida vitae orci a, viverra condimentum sapien. Proin tincidunt vestibulum enim, ut pharetra dui molestie ac. Curabitur condimentum lectus ante, sit amet elementum odio consectetur a. Quisque vulputate feugiat consequat.

                    Nulla nec orci vel neque congue ullamcorper in id enim. Aenean quis maximus leo. Nam et feugiat ex. Vestibulum luctus tristique mauris ac cursus. Duis non magna enim. In pretium finibus lacus sit amet vulputate. Mauris sapien leo, cursus sit amet sollicitudin vel, varius at est.
                </p>
            </div>
        </div>
    </div>
    
</body>
</html>