<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
            padding: 10px;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="nav navbar-nav mx-auto">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a> 
            <a class="nav-item nav-link" href="/projects">Projects</a> 
            <a class="nav-item nav-link" href="/contact">Contact</a>
        </div>
    </nav>
    <div class="container">
        <h1>Here are some cool projects of mine!</h1>
        <div class="row">
            <div class="col-12">
                <nav id="navbar-example2" class="navbar navbar-light bg-light">
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#one">Project 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#two">Project 2</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#three">Project 3</a>
                    </li>
                </ul>
                </nav>
                <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" style="max-height: 450px; overflow: auto;">
                    <h4 id="one">one</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis tortor vitae eros rhoncus malesuada. Sed fringilla bibendum nunc et euismod. Vestibulum condimentum pellentesque nulla, et tempor ligula posuere non. Curabitur justo dolor, ullamcorper in lacus eu, luctus pulvinar dolor. Cras accumsan, ante et commodo feugiat, lorem arcu commodo odio, ac sodales dui nisi eget dui. Sed hendrerit posuere nunc non congue. In ut nibh eros. Aenean id ligula ac ex consequat malesuada eget ut nisi.
                    </p>
                    <p>
                        Sed tempor arcu lectus, nec auctor metus iaculis ut. Mauris eleifend magna risus, eu aliquet libero aliquam vel. Donec consequat pulvinar augue, non tristique velit condimentum sit amet. Morbi dui tellus, sollicitudin non faucibus at, laoreet ac quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis dui neque, ultrices sit amet vulputate ut, finibus in massa. Nunc eu ornare dolor. Nam vulputate tempus neque, sit amet volutpat ipsum interdum at. Pellentesque pulvinar cursus dui eu ultricies. Mauris id velit at ante fringilla iaculis sed eget velit. Etiam tristique eleifend purus non volutpat. Vivamus nisi urna, dapibus non odio a, fermentum blandit enim. Proin dictum sem eu ex egestas convallis. Nunc vehicula, massa dapibus venenatis aliquet, tortor justo sagittis massa, sed varius dui mauris in urna.
                    </p>
                    <h4 id="two">two</h4>
                    <p>
                        Praesent posuere urna eu nisi tempor luctus. Integer eu aliquet ligula. Fusce in nibh cursus, lacinia tortor id, cursus diam. Aliquam a velit auctor, ornare sapien et, maximus nibh. Nam dapibus magna at maximus dictum. Pellentesque tristique ante vitae lacinia facilisis. Sed egestas tincidunt turpis iaculis pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus felis, convallis at lectus in, congue malesuada magna. Praesent dui nulla, commodo ac rutrum id, auctor vitae lectus. Proin bibendum orci non volutpat accumsan. Vestibulum sit amet lacus ex. Vivamus fringilla blandit mauris, a elementum lectus dictum ut. Ut a sapien vel urna feugiat cursus. Maecenas tincidunt sem eu pretium sagittis. Sed lacinia magna vel erat bibendum porta.
                    </p>
                    <h4 id="three">three</h4>
                    <p>
                        Vestibulum quis enim elementum odio pretium luctus sit amet non risus. Ut eu nisl libero. Duis eget tortor sed urna tempor varius vel ac nunc. Integer finibus pretium ornare. Aliquam tincidunt ipsum lectus, at convallis orci cursus sit amet. Maecenas feugiat sit amet est ac pellentesque. Nunc a lacinia sapien. Sed sit amet sodales urna, ut gravida justo. Proin finibus, odio non tempus sagittis, tellus est ultrices erat, at placerat sem ex vel sem. Donec nec lacus sagittis, rhoncus mi id, lobortis nisi. Phasellus ac diam mollis, accumsan sapien eu, malesuada mauris. Nunc eleifend rhoncus mollis. Suspendisse interdum dictum lorem, et cursus nisl elementum sed.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis tortor vitae eros rhoncus malesuada. Sed fringilla bibendum nunc et euismod. Vestibulum condimentum pellentesque nulla, et tempor ligula posuere non. Curabitur justo dolor, ullamcorper in lacus eu, luctus pulvinar dolor. Cras accumsan, ante et commodo feugiat, lorem arcu commodo odio, ac sodales dui nisi eget dui. Sed hendrerit posuere nunc non congue. In ut nibh eros. Aenean id ligula ac ex consequat malesuada eget ut nisi.
                    </p>
                    <p>
                        Sed tempor arcu lectus, nec auctor metus iaculis ut. Mauris eleifend magna risus, eu aliquet libero aliquam vel. Donec consequat pulvinar augue, non tristique velit condimentum sit amet. Morbi dui tellus, sollicitudin non faucibus at, laoreet ac quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis dui neque, ultrices sit amet vulputate ut, finibus in massa. Nunc eu ornare dolor. Nam vulputate tempus neque, sit amet volutpat ipsum interdum at. Pellentesque pulvinar cursus dui eu ultricies. Mauris id velit at ante fringilla iaculis sed eget velit. Etiam tristique eleifend purus non volutpat. Vivamus nisi urna, dapibus non odio a, fermentum blandit enim. Proin dictum sem eu ex egestas convallis. Nunc vehicula, massa dapibus venenatis aliquet, tortor justo sagittis massa, sed varius dui mauris in urna.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>