<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Alchemist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <p>You arrived at the village. You look around the marketplace. It is filled with people.</p>
    <br>
    <p>You notice a bench to sit and rest. An old man sits down next to you.</p>
    <p>'Hello young man, what brings you into town?', the old man asked</p>
    <a href="/old-man">Talk to old man</a>
</body>
</html>