<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
</head>
<body>
    <a href="/details/0"><img src="img/cat.jpeg"></a>
    <a href="/details/1"><img src="img/cat2.jpeg"></a>
</body>
</html>