<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat Details</title>
</head>
<body>
    <h1>Name: <%= cats.name %></h1>
    <h4>Favorite food: <%= cats.favfood %></h4>
    <h4>Age: <%= cats.age %></h4>
    <h4>Sleeping spots:</h4>
    <% for (var x in cats.sleep) { %>
        owl<p><%= cats.sleep[x] %></p>
    <% } %>
</body>
</html>