@using Microsoft.AspNetCore.Http
@model Cart

<form action="/addCart/@ViewBag.id" method="post" class="sky-form">
    <div class="form-group row">
        <select asp-for="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <input type="hidden" asp-for="cost" value="">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>