@model Trail
<div class="heading">
    <h1><u>Add A New Trail</u></h1>
    <h3><a href=/><u>Go Home</u></a></h3>

    <form asp-action="Process" asp-controller="Home" method="post" class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
        <br>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="4" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
        <br>
        <label asp-for="Length"></label>
        <input asp-for="Length" class="form-control" value=0>
        <span asp-validation-for="Length" class="text-danger"></span>
        <br>
        <label asp-for="Elevation"></label>
        <input asp-for="Elevation" class="form-control" value=0>
        <span asp-validation-for="Elevation" class="text-danger"></span>
        <br>
        <label asp-for="Latitude"></label>
        <input asp-for="Latitude" class="form-control" value=0.0000>
        <span asp-validation-for="Latitude" class="text-danger"></span>
        <br>
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" class="form-control" value=0.0000>
        <span asp-validation-for="Longitude" class="text-danger"></span>
        <br>
        <input type="submit" class="btn btn-primary btn-lg" id="submitbtn" value="Create Record!">
    </form>
</div>