<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h2 {
            text-align: center;
        }
        .container {
            margin: 50px;
            padding: 20px;
            background-color: skyblue;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2>Register</h2>
                <div class="register-form">
                    <form action="/register" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input name="first_name" type="name" class="form-control" value='' placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input name="last_name" type="name" class="form-control" value='' placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input name="email" type="email" class="form-control" value='' placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" type="password" class="form-control" value='' placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="pw_confirm">Confirm Password</label>
                            <input name="pw_confirm" type="password" class="form-control" value='' placeholder="Confirm">
                        </div> 
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-md">
                <h2>Log In</h2>
                <form action="/login" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input name="email" type="email" class="form-control" value='' placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" value='' placeholder="Password">
                    </div>
                    {% if request.session.message is not None %}
                    <div class="alert alert-warning" role="alert">{{ request.session.message }}</div>
                    {% endif %}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form><br>
                <a class='btn btn-primary' href='/blog'>Go to Blog</a>
                <a class='btn btn-primary' href='/survey'>Go to Survey</a>
                <a class='btn btn-danger' href='/reset'>RESET SESSION</a>
            </div>
        </div>
    </div>
</body>
</html>