<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container {
            margin: 50px 100px;
            padding: 20px;
            background-color: skyblue;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="survey-form">
            <form action="/survey" method="post">
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input name="name" type="name" class="form-control" value='' placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="dojo_location">Dojo Location</label>
                    <select name="dojo_location" class="form-control" value=''>
                        <option>San Jose</option>
                        <option>Seattle</option>
                        <option>Silicon Valley</option>
                        <option>Tulsa</option>
                        <option>Dallas</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fav_language">Favorite Language</label>
                    <select name="fav_language" class="form-control" value=''>
                        <option>Python</option>
                        <option>Javascript</option>
                        <option>PHP</option>
                        <option>HTML</option>
                        <option>C#</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="comments">Comments</label>
                    <small class="form-text text-muted">Your comments are optional, but encouraged!</small>
                    <textarea name="comments" class="form-control" value='' rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>

            </form>
        </div>
    </div>
</body>
</html>