<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        nav {
            text-align: left;
        }
        .container {
            margin: 25px;
            background-color: indigo;
            color: lightgreen;
            text-align: center;
        }
        .scroll {
            text-align: left;
            padding: 30px 20px 15px 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav>Your Gold <span style='background-color:ivory; padding: 3px 30px; color: goldenrod; font-weight: bold;'>{{ request.session.gold }}</span> 
            <form action='/reset' method='POST'>
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="reset">
                    Reset
                </button>
            </form>
        </nav>
        <div class="row">
            {% for x in request.session.ninja_places %}
            <div class="col-sm">
                <h2>{{ x.place }}</h2>
                <p>({{ x.value }})</p>
                <form action='/roll' method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="place" value="{{x.place}}" />
                    <button type="submit" class="btn btn-success">
                        Find Gold!
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
        <div class="scroll">
            <p><b>Activities</b></p>
            <div class="pre-scrollable" data-offset="0" style="height: 300px; margin-bottom: 30px;">
                {% for x in request.session.results %}
                <p>{{x}}</p>
                {% endfor %}
                
            </div>
        </div>
    </div>
</body>
</html>