<head>
    <title>Playground</title>
    <style>
    body {
        background-color: lightblue;
        width: 98%;
    }
    h1 {
        color: maroon;
        text-align: center;
    } 
    .beautifulBox {
        background-color: blue;
        display: inline-block;
        height: 250px;
        width: 250px;
        margin: 30px;
        align-content: center;
    }
    </style>
</head>
<body>
    <h1>Hello World</h1>
    <div class='beautifulBox'></div>
    <div class='beautifulBox'></div>
    <div class='beautifulBox'></div>
</body>