@using Microsoft.AspNetCore.Http
@model Products

    <div class="sky-form-login">
        <h2>Create Product</h2>
        <form action="/addProduct" method="post" class="sky-form">
            <div class="form-group row">
                <label asp-for="name">Name: </label>
                <input type="text" class="form-control" asp-for="name" placeholder="Enter product">
                <span asp-validation-for="name"></span>
            </div>
            <div class="form-group row">
                <label asp-for="description">Description: </label>
                <input type="text" class="form-control" asp-for="description" placeholder="Enter description">
                <span asp-validation-for="description"></span>
            </div>
            <div class="form-group row">
                <label asp-for="img_url">Image: </label>
                <input type="text" class="form-control" asp-for="img_url" placeholder="Enter image URL">
                <span asp-validation-for="img_url"></span>
                <span>@ViewBag.category</span>
            </div>
            @Html.Partial("Forms/PricePartial")
            @Html.Partial("Forms/InventoryPartial")
            <div class="form-group">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>
    </div>